body {
  margin: 0;
  padding: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff700;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(8, 219, 40);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #cb3e3e;
}

h1 {
padding: 90%;  
background-color: aquamarine;
}


