

/* achtergrond*/body {
   background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/04/53/9556248b4747950.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/*menu*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #cb6285;
}
/*boven is menu*/
/*pagina compressie*/
.compressie {
  width: 24%;
  border: 5px solid rgb(0, 0, 0);
  background-color: white;
  color: #000000;
  padding: 2%;
  margin: 20px;
  margin-bottom: 20px; 
  float: left; 
}
.soortencompressie {
  width: 40%;
  border: 5px solid rgb(0, 0, 0);
  background-color: white;
  color: #000000;
  padding: 2%;
  margin: 20px;
  float: left; 
}
.bitmap {
  width: 24%;
  border: 5px solid rgb(0, 0, 0);
  background-color: white;
  color: #000000;
  padding: 2%;
  margin: 20px; 
}

.afbeeldingbitmap {
float: center;
height: 50%;
display: block;
}

/* pagina kleurmodellen*/
.tekstkleurmodellen {
  width: 50%;
  border: 5px solid rgb(0, 0, 0);
  background-color: white;
  color: #000000;
  padding: 2%;
  margin: 20px; 
  float: left; }

/*pagina binair stelsel*/
.binairstelseltekst {
  width: 23%;
  border: 5px solid rgb(0, 0, 0);
  background-color: white;
  color: #000000;
  padding: 2%;
  margin: 20px; 
  float: left; }

.stuktekstbinairstelsel { 
  width: 20%;
  border: 5px solid rgb(0, 0, 0);
  background-color: white;
  color: #000000;
  padding: 2%;
  margin: 20px; 
  float: right; }

  /*pagina binair stelsel*/
  div .videoenafbeeldingbinairstelsel {
    float: center;
    width: 40%;
  }
 
 /*Pagina ipos */
.IPOS {
  width: 23%;
  border: 5px solid rgb(0, 0, 0);
  background-color: white;
  color: #000000;
  padding: 2%;
  margin: 20px; 
  float: left;

}


